<div class="col-10 offset-1 about">
 <h1> About Splurty</h1>
 <p>
  Splurty was built by Yazmin Rubio, an aspiring web developer that believes everyone should live their life unencumbered by other's expectations and definitions of success. 
  </p>

  <div class="row">
   <div class="col-12 col-sm-4">
     <%= image_tag 'yazmin.JPG', class: 'img-fluid' %>
   </div>

   <div class="col-12 col-sm-7 offset-sm-1">
     <h2 class="text-center"> Yazmin Rubio</h2>
     <br />
     <p>
     Yazmin is currently stuyding web development but was previously a successful project manager for a mechanical contractor. Web development was always a passion of hers and she would not deem herself successful in life if she ever had any regrets. Therefore pursueing this passion was a necessity, for she would regret it if she didn't.
     </p>
   </div>
  </div>
</div>